@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes flash-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-flash-fade {
    animation: flash-fade 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease-out;
}