@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes flash-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-flash-fade {
    animation: flash-fade 0.8s ease-out forwards;
}